
body{
	margin: 0;
	padding: 0;
	background-color:  #f9f9f9;
}
.s1{
		font-size: 1.1rem;
}

/*头部*/
.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 3rem 0.8rem 3rem;
	background-color: white;
}
.header p{
	margin: 0
}
.common_shop{
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
}

/*输入框*/
.form{
	padding-top: 1.5rem;
}

label,input{
	display: block;
}
label{
	margin-bottom: 0.5rem;
	margin-left: 2.3rem;
	color: #4b4b4b;
}

input{
	border: solid 1px #ededed;
	border-radius: 5px;
	padding: 0.8rem 0;
	width: 80%;
	margin: 0 auto;
	-webkit-appearance:none;
}

.in{
	text-indent: 1rem;
	color: #ededed;

}
.button{
	display: block;
	border: none;
	background-color: #d43b33;
	color: white;
	padding: 0.8rem 0;
	border-radius: 5px;
	-webkit-appearance:none;
	margin-top: 2rem;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ededed;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ededed;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ededed;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ededed;
}

